@{  
    ViewData["Title"] = "Confirmar Email";
    ViewBag.Title = "Confirme o endereço de email enviado";
}

<div id="cadastro" class="cadastro">
    <div class="cadastro-content" style="margin-top: 5rem">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">@ViewBag.Title</h2>
                <div class="account-wall">
                    <div class="text-center">
                        @if (ViewBag.Msg != null)
                        {
                            <label class="text-danger">@ViewBag.Msg</label> 
                        }
                        else
                        {
                            <label>Cheque o e-mail enviado para o endereço <strong>@ViewBag.Email</strong></label>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>