@model IEnumerable<Empregare.Models.Vaga>

@{ ViewData["Title"] = "Início"; }
<div id="intro" class="intro">
    <div class="intro-content">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h4>SOLUÇÕES PARA</h4>
                    <h1>CANDIDATOS</h1>
                    <p>Amplie suas possibilidades! Cadastre seu currículo e aproveite os recursos exclusivos que disponibilizamos para você gratuitamente!</p>
                    <a class="btn-solid-lg page-scroll  text-decoration-none" asp-action="Cadastro" asp-controller="Usuarios">CADASTRA-SE</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img src="~/img/destaque.png" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="slider-vagas">
    <div class="container">
        <h3>Confira nossas vagas disponíveis</h3>
        <div class="row">
            <div class="div-vaga col-lg-3 col-md-3 col-sm-6">
                <h5></h5>
                <p><i class="fas fa-map-marker-alt"></i></p>
                <p><i class="fas fa-money-bill-wave"></i> R$</p>
            </div>
        </div>
    </div>
</div>

<div class="slider-footer">
    <div class="container text-center">
        <h3>Faça parte você também</h3>
        <a class="btn-solid-xlg page-scroll text-decoration-none" asp-action="Cadastro">CADASTRA-SE</a>
    </div>
</div>
