@model Empregare.ViewModel.Login

@{ Layout = "_LayoutNotLogin";
                ViewData["Title"] = "Login"; }

<form asp-action="Login">
    <div class="account-wall">
        <div class="form-group title">
            <h1 class="text-center">Sistema de Login</h1>
        </div>
        <div class="form-group divSpaceMargin">
            @if (ViewBag.Erro != null)
            {
<div class="msgErro">@ViewBag.Erro</div>            }
        </div>
        <div class="form-group divSpaceMargin">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group divSpaceMargin">
            <label asp-for="Senha" class="control-label"></label>
            <input asp-for="Senha" class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="form-group divSpaceMargin">
            <a href="#" class="pull-right">Esqueçeu a senha?</a>
        </div>
        <div class="form-group divSpaceMargin" style="margin-top:45px;">
            <input type="submit" value="Entrar" class="btn btn-lg btn-success btn-block" />
        </div>
        <div class="form-group divSpaceMargin" style="margin-top:45px;">
            <a asp-action="Cadastro" class="btn btn-lg btn-block btnRegister">Cadastre-se</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
