@{
    ViewData["Title"] = "Confirmar Email";
    ViewBag.Title = "Confirme o endereço de email enviado";
    Layout = "_LayoutNotLogin";

}

<h2>@ViewBag.Title</h2>

<div class="account-wall">
    <div class="text-center">
        @if (ViewBag.Msg != null)
        {
            <label class="text-danger">@ViewBag.Msg</label>
        }
        else
        {
            <label>Cheque o e-mail enviado para o endereço <strong>@ViewBag.Email</strong></label>
        }
    </div>
</div>