@{
    ViewData["Title"] = "Home Page";
}
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h4 class="turquoise">SOLUÇÕES PARA</h4>
                        <h1>CANDIDATOS</h1>
                        <p class="p-large">Amplie suas possibilidades! Cadastre seu currículo e aproveite os recursos exclusivos que disponibilizamos para você gratuitamente!</p>
                        <a class="btn-solid-lg page-scroll" href="#services">CADASTRA-SE</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="~/img/destaque.png" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>